body {
  margin: 0;
  background: #f4f4f4;
  font-family: 'Segoe UI', sans-serif;
}

.banner {
  width: 95%;
  height: 420px;
  margin: 40px auto;
  background: linear-gradient(135deg, #fde2d8, #fff1ea);
  border-radius: 30px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.badge.pink:hover {
  background: #e66c00;
}

.slides {
  width: 100%;
  height: 100%;
  position: relative;
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 0.6s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px;
}

.slide.active {
  opacity: 1;
}

.text {
  max-width: 480px;
}

.text h1 {
  font-size: 48px;
  margin: 15px 0;
  color: #2b2b2b;
}

.text p {
  font-size: 18px;
  line-height: 1.6;
  color: #555;
}

.badge {
  display: inline-block;
  background: #ff7a00;
  color: white;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 14px;
}

.badge.green {
  background: #2ecc71;
}



.btn {
  margin-top: 20px;
  padding: 14px 30px;
  border: none;
  background: #ff7a00;
  color: white;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
}

.btn:hover {
  background: #e66c00;
}

.slide img {
  width: 280px;
  animation: float 3s infinite ease-in-out;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-12px);
  }

  100% {
    transform: translateY(0);
  }
}

.nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: white;
  border: none;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  font-size: 28px;
  cursor: pointer;
  z-index: 10;
}

.left {
  left: 20px;
}

.right {
  right: 20px;
}


.ok {
  width: 100%;
}

.vav{
  display: flex;
  gap: 20px;
}


.vav a{
  color: #3D4249;
  font-size: 14px;
}

.vav a:hover {
  color: red;
}




.quality {
    background: #fdebe1;
    border-radius: 20px;
    padding: 60px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-top: 30px;
}

.content {
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
}

.content h1 {
    font-size: 42px;
    margin-bottom: 20px;
}

.content p {
    font-size: 16px;
    color: #555;
    margin-bottom: 30px;
    line-height: 1.6;
}

.content button {
    background: #9c5b3c;
    color: #fff;
    border: none;
    padding: 14px 30px;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
}

.content button:hover {
    opacity: 0.9;
}

.decor {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.decor img {
    width: 120px;
}




.wow{
  align-items: center;
}

.wow img{
  margin-left: 150px;
}
